div.artwork:hover {
border: 1px solid #777;
}

div.artwork img {
width: 100%;
height: auto;
}


div.info {
text-align: center;
}

div.artwork {
margin: 5px;
border: 1px solid #ccc;
float: left;
width: 180px;
}


.row{
display:flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items:flex-start
}

.item{
  padding:10;
}

.post{
  padding-left: 30;
}
