@media (min-width:2px){
  html{
    font-size: 5vw;
  }
  textarea{
    width: 70vw;
    height: 20vh;
  }

}


@media (min-width: 576px) {
  html{
    font-size: 3.5vw;

  }
textarea{
  width: 70vw;
  height: 20vh;
}


 }




@media (min-width: 768px) {
  html{
    font-size: 3vw;
  }



  }


@media (min-width: 992px) {
  html{
    font-size: 2vw;

  }


  }


@media (min-width: 1200px) {
  html{
    font-size: 1.7vw;
  }
  #formSize{
    width: 60vw;
  }
 }


@media (max-width: 576px){
  #submitInput{
    border: #6C757D 2px solid;

  }
}
